
    <h2>Books</h2>

    <table class="table table-hover table-inverse">
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><a href="/users/3196">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5702" href="/books/5702">test1</a></td>
        <td>本文1</td>
      </tr>
      <tr>
        <td><a href="/users/3196">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5703" href="/books/5703">test2</a></td>
        <td>本文2</td>
      </tr>
      <tr>
        <td><a href="/users/3196">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5704" href="/books/5704">test3</a></td>
        <td>本文3</td>
      </tr>
      <tr>
        <td><a href="/users/3197">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5705" href="/books/5705">test4</a></td>
        <td>本文4</td>
      </tr>
      <tr>
        <td><a href="/users/3197">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5706" href="/books/5706">test5</a></td>
        <td>本文5</td>
      </tr>
      <tr>
        <td><a href="/users/3197">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5707" href="/books/5707">test6</a></td>
        <td>本文6</td>
      </tr>
      <tr>
        <td><a href="/users/3197">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5708" href="/books/5708">test7</a></td>
        <td>本文7</td>
      </tr>
      <tr>
        <td><a href="/users/3199">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5709" href="/books/5709">book</a></td>
        <td>booook</td>
      </tr>
      <tr>
        <td><a href="/users/3200">
          <img class="attachment user profile_image" src="/attachments/896f54f9f313ddce9b04f2d1731e8ce1ad6c5e8b/store/fill/50/50/acc30a198f4bf930bd0b7be7ff32c578779322fd2731edc1e1266fb1090c/profile_image" alt="Profile image">
</a>        </td>
        <td><a class="book_5710" href="/books/5710">bunbun</a></td>
        <td>kkkkkkkk</td>
      </tr>
      <tr>
        <td><a href="/users/3202">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
</a>        </td>
        <td><a class="book_5711" href="/books/5711">book</a></td>
        <td>book</td>
      </tr>
  </tbody>
</table>
